body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: blue;
}

.box1{
    border: 5px solid black;
    width: 500px;
    padding: 20px;
    margin: 20px;
    background: pink;
    color: brown;
}

h1{
    text-align: center;
    color: white;
}